<f:layout name="SchwazTemplate" />

<f:section name="content">
    <div>SCHWAZ TEMPLATE</div>
    <div><f:format.raw>{CONTENT}</f:format.raw></div>
    <div id="testApp">
        <test_app />
    </div>
    ----------
    <div id="test2ndApp">
        <test_app />
    </div>
</f:section>


